openapi: 3.0.3
info:
  title: OpenAI Images API (Minimal)
  version: 1.0.0
servers:
  - url: https://api.openai.com/v1
paths:
  /images/generations:
    post:
      operationId: createImage
      summary: Creates an image from a text prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageRequest'
      responses:
        '200':
          description: Successful image generation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
components:
  schemas:
    CreateImageRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: Prompt used to generate an image.
        n:
          type: integer
          minimum: 1
          maximum: 10
          default: 1
          description: Number of images to generate.
        response_format:
          type: string
          enum:
            - url
            - b64_json
          description: Output format of generated image data.
        size:
          type: string
          enum:
            - 256x256
            - 512x512
            - 1024x1024
          description: Requested image size.
        model:
          type: string
          description: Optional image model identifier.
        user:
          type: string
          description: Optional end-user identifier.

    ImagesResponse:
      type: object
      required:
        - data
      properties:
        created:
          type: integer
          format: int64
        data:
          type: array
          items:
            $ref: '#/components/schemas/ImageData'

    ImageData:
      type: object
      properties:
        url:
          type: string
          format: uri
        b64_json:
          type: string
