<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.th.dogArea.update</string>
		<string>com.th.dogArea.location</string>
		<string>com.th.dogArea.refresh_task</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>산책 완료 사진 촬영 및 프로필 설정을 위해 카메라 접근이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>산책 완료 카드 이미지를 사진 앱에 저장하기 위해 접근이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>산책 완료 사진 선택 및 프로필 설정을 위해 접근이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
